[Unit]
Description=Clocker Service
After=clocker-install.service
      
[Service]
TimeoutStartSec=0
ExecStart=/opt/clocker/brooklyn-clocker/bin/clocker.sh

[Install]
WantedBy=multi-user.target