[Unit]
Description=Clocker Service
After=clocker-install.service
      
[Service]
TimeoutStartSec=0
ExecStart=/home/vagrant/clocker/brooklyn-clocker/bin/clocker.sh
User=vagrant
Group=vagrant

[Install]
WantedBy=multi-user.target